:root {
  --ucul-gap--d: 30px;

  --font-size-xl: 40px;
  --font-size-l: 30px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
}

.ucul {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ucul-header {
  padding: var(--ucul-gap--d);
  background-color: rgb(200, 200, 200);
}

.ucul-header h1 {
  font-size: var(--font-size-m);
}

.ucul-footer {
  margin-top: auto;
  padding: var(--ucul-gap--d);
  text-align: center;
  font-size: 12px;
  background-color: rgb(200, 200, 200);
}

.ucul-project-nav-list {
  padding: 0 var(--ucul-gap--d);
  display: flex;
  justify-content: flex-start;
  background-color: rgb(200, 200, 200);
}

.ucul-project-nav-list__item {
  padding: calc(var(--ucul-gap--d) / 2);
  border-top: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-left: 1px solid rgb(230, 230, 230);
  border-radius: 10px 10px 0 0;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.ucul-project-nav-list__item.is-active {
  background-color: rgb(240, 240, 240);
  cursor: default;
}

.ucul-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ucul-main h2 {
  margin-bottom: calc(var(--ucul-gap--d) / 3);
  font-size: var(--font-size-s);
  font-weight: 600;
}

.ucul-section__upload-file {
  padding: var(--ucul-gap--d);
  flex: 0 0 100%;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.ucul-section__upload-file-label {
  margin: auto;
  display: block;
}

.ucul-section__upload-file-input {
  margin: auto;
  width: 400px;
  background-color: white;
  cursor: pointer;
}

.ucul-section__lists {
  width: 100%;
}

.ucul-section__lists-table {
  width: 100%;
}

.ucul-section__lists-table th {
  padding-top: calc(var(--ucul-gap--d) / 2);
  padding-right: var(--ucul-gap--d);
  padding-bottom: calc(var(--ucul-gap--d) / 2);
  padding-left: var(--ucul-gap--d);
  border-bottom: 1px solid rgb(240, 240, 240);
  width: 50%;
}

.ucul-section__lists-table td {
  padding-top: calc(var(--ucul-gap--d) / 4);
  padding-right: var(--ucul-gap--d);
  padding-bottom: calc(var(--ucul-gap--d) / 4);
  padding-left: var(--ucul-gap--d);
  border-bottom: 1px solid rgb(240, 240, 240);
  width: 50%;
}

.ucul-section__lists-table tr th:nth-child(1),
.ucul-section__lists-table tr td:nth-child(1) {
  padding-right: calc(var(--ucul-gap--d) / 2);
}

.ucul-section__lists-table tr th:nth-child(2),
.ucul-section__lists-table tr td:nth-child(2) {
  padding-left: calc(var(--ucul-gap--d) / 2);
}

.ucul-section__lists-table span {
  margin-right: auto;
}

.ucul-section__lists-table button {
  margin-left: calc(var(--ucul-gap--d) / 2);
}

.ucul-section__lists-table-cell-aligner {
  display: flex;
  align-items: center;
}

